# Copyright © 2019–2020 California Institute of Technology ("Caltech").
# ALL RIGHTS RESERVED. U.S. Government sponsorship acknowledged.

*.egg-info
*.log
*.py[co]
*.spec
*.sublime-*
.*.cfg
.*.swp
.DS_Store
.eggs
__pycache__
.eggs
typescript
/*.tab
/*.xml
bin/
build/
develop-eggs/
dist/
testdist/
eggs/
parts/
k

# Temporary files
*~

# other stuff
*.sublime-*
