# Copyright © 2019–2019 California Institute of Technology ("Caltech").
# ALL RIGHTS RESERVED. U.S. Government sponsorship acknowledged.

graft src/pds
graft docs
include *.rst *.tab *.TAB *.xml *.xsd *.pdf *.txt
global-exclude *.pyc *.pyo
