# Copyright © 2019–2021 California Institute of Technology ("Caltech").
# ALL RIGHTS RESERVED. U.S. Government sponsorship acknowledged.

recursive-include src *.txt
global-exclude *.py[cod] __pycache__
